* {
    margin-top: 0
}

html {
  min-width: 100%;
  min-height: 150%
}

body {
  max-width: 100%;
  height: 1500px;
  background-color: #FFF;
}

/* Header */
ul {
    z-index: 5;
    position: fixed;
    overflow: hidden;
    display: block;
    list-style-type: none;
    text-align: right;
    top: 0;
    width: 95%;
    max-width: 98%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-right: 2%;
    margin-bottom: 10px;
    

    
}
li {
    display: inline;
    float: right;
    text-align: right;
    padding-left: 10px;
    padding-right: 1%;
    margin-left: 5%;
    text-decoration: none;
    color: black;
    font-family: fenwick, sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: white;
    font-size: 100%;
}

li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: #f7921e; 
}

.linje{
    z-index: 3;
    top: 0;
    background-color: white;
    position: fixed;
    width: 100%;
    padding-top:8px;
    padding-bottom: 8px;
    margin-bottom: 5%;
    overflow: hidden;
}
.stjerne1 {
    top: 0;
    position: fixed;
    z-index: 4;
    padding-top: 5px;
    margin-left: 0;
    overflow: hidden;
    max-width: 50%; 
}


/* innhold */
.hjem {
    position: sticky;
    text-align: right;
    margin-top: 9%;
    margin-right: 5%;
    z-index: 0;

}
.velkommen h1{
    display: block;
    z-index: -2;
    margin-top: -18%;
    margin-left: 0;
    padding-top: 7%;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 6%;
    margin-right: 0;
    margin-bottom: 5%;
    width: 40%;
    font-family: fenwick, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    background-color: #EDDBC5;
}

.midtstjerne {
    clear: none;
    margin-left: 10%;
    margin-top: -9%;
    margin-bottom: 5%;
}
/* del 2 */
.bilde2 {
    display: inline-block;
    margin-left: 5%;
    max-width: 30%;
}

.pekefinger {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: -30%;
    margin-left: 35%;
}
/* kontaktboks */

.skjema {
    display: inline-block;
    margin-top: -27%;
    margin-left: 2%;
    margin-bottom: 2%;
    z-index: 1;
    width: 95%;
    
}
.container {
    z-index: 1;
    display: inline-block;
    border-radius: 1px;
    background-color: white;
    padding-right: 0;
    padding-left: 2px;
    font-family: fenwick, sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 95%;
    max-width: 700px;

}
h2 {
    margin-bottom: 5px;
    font-family: gastromond, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    background-color: white;
}

.skjema p{
    z-index: 1;
    text-align:left;
    margin-top: 5px;
    font-family: fenwick, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    background-color: white;
}
input[type=text], select, textarea {
    position: relative;
    z-index: 1;
  width: 100%;
  padding: 2px;
  border: 2px solid #000;
  margin-top: 0px;
  margin-bottom: 5px;
  resize: vertical;
    font-family: fenwick, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: white;
}

input[type=submit] {
    z-index: 1;
  float: right; 
    font-family: fenwick, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f7921e;
}

.container {
    position:relative;
    z-index: 1;
    display: inline-block;
    border-radius: 1px;
    background-color: white;
    margin-left: 1%;
    padding-right: 0;
    text-align: left;
    font-family: fenwick, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    width: 100%;
    float:right;
}
.column {
    position: relative;
  float: right;
  width: 100%;
  margin-top: 0px;
  padding: 0px;
 background-color: white;
}
@media screen and (max-width: 700px)  {
  .column, input[type=submit] {
    position: relative;
    width: 100%;
    margin-top: 0;
  }
}

/* kontaktboks ferdig */

.bunnstjerne {
    display: block;
    position: static;
    clear: none;
    text-align: center;
    margin-bottom: 3%;
    
}
/* footer */
.footer {
    position: absolute;
    clear: none;
    display: block;
    margin-top: 
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #EDDBC5;
}
.footer h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
    font-family: gastromond, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    background-color: #EDDBC5;
}
.footer h4 {
    text-align: center;
    font-family: fenwick, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #EDDBC5;
    
}

.footer h4 a{
    text-decoration: none;
    color: #f7921e;
    font-weight: 600;
}
.footer h4 a:hover {
    background-color: #f7921e;
    color: black;
}

.ikoner img{
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.footer p{
    display: block;
    text-align: center;
    font-family: fenwick, sans-serif;
    font-weight: 300;
    font-size: 10px;
    background-color: #EDDBC5;
    margin-top: 5;
   
}
.footer p a{
    text-decoration: none;
    color: #f7921e;
    font-weight: 600;
}
.footer p a:hover {
    background-color: #f7921e;
    color: black;
}

