* {
    margin-top: 0
}

html {
  min-width: 100%;
  min-height: 150%
}

body {
  width: 100%;
  height: 1500px;
  background-color: #FFF;
}
/* Header */
ul {
    z-index: 1;
    position: fixed;
    overflow: hidden;
    display: block;
    list-style-type: none;
    top: 0;
    width: 100%;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: white;
    
}
li {
    display: inline;
    float: right;
    padding-left: 80px;
    text-decoration: none;
    color: black;
    font-family: fenwick, sans-serif;
    font-weight: 600;
    font-style: normal;
}

li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: #f7921e; 
}

.stjerne1 {
    position: fixed;
    z-index: 1;
    margin-top: 5px;
    margin-left: 0;
}
/* header ferdig */

/* innhold */


}

.logo {
    z-index: 0;
    position: sticky;
    display: block;
    margin-top: ;
}

.forsidebilde {
    display: inline-block;
    position: fixed;
    z-index: -1;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

#footer {
    display: inline-block;
    bottom: 0;
    text-align: left;
    position: relative;
    z-index: -2;
    width: 100%;
    margin-top: ;
    background-color: #EDDBC5;
    padding-top:5px;
    font-family: fenwick, sans-serif;
    font-weight: 600;
    font-style: normal;
}
h3 {
    font-size: 22px;
    margin-top: 15%;
    margin-left: 35%;
    margin-bottom: 5px;
    font-family: gastromond, sans-serif;
    font-weight: 400;
    font-style: normal;  
}
h4 {
    text-align: left;
    
    margin-left: 35%;
    font-family: fenwick, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}
h4 a{
    text-decoration: none;
    color: #f7921e;
    font-weight: 600;
}
h4 a:hover {
    background-color: #f7921e;
    color: black;
}

.foot p{
    display: block;
    text-align: left;
    display: inline-block;
    font-size: 10px;
    margin-top: 1%;
    margin-left: 35%;
    
    
}

.foot p a{
    color: #F7931E;
}

.photocred p{
    display: block;
    text-align: left;
    font-family: fenwick, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 10px;
    margin-left: 35%;
   
}
.photocred p a{
    display: inline-block;
    text-align: center;
    color: #F7931E;
}

p a:hover{
    background-color: #f7921e;
    color: black;
}


/* kontaktboks */
.container {
    display: inline-block;
    border-radius: 1px;
    background-color: #EDDBC5;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-right: 5px;
    font-family: fenwick, sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    max-width: 500px;
    float: right;
}
h2 {
    margin-bottom: 5px;
    font-family: gastromond, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.skjema p{
    text-align:left;
    margin-top: 5px;
    font-family: fenwick, sans-serif;
    font-weight: 600;
    font-style: normal;   
}
input[type=text], select, textarea {
  width: 100%;
  padding: 2px;
  border: 2px solid #000;
  margin-top: 0px;
  margin-bottom: 5px;
  resize: vertical;
    font-family: fenwick, sans-serif;
    font-weight: 300;
    font-style: normal;
}

input[type=submit] {
  float: right;  
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f7921e;
}

.container {
    display: inline-block;
    border-radius: 1px;
    background-color: #EDDBC5;
    padding-right: 20px;
    text-align: left;
    font-family: fenwick, sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    float:right;
}
.column {
  float: right;
  width: 100%;
  margin-top: 0px;
  padding: 0px;
}
@media screen and (max-width: 500px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.pekefinger {
    display: inline-block;
    float: right;
    padding-right: 5px;
    margin-right: -520px;
    margin-top: 2%;
}
/* kontaktboks ferdig */

/* footer */


